<!doctype html>
<html lang="en">
{% extends "userbase.html" %}
  {% block section1 %}
    <div class="container">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
      </form>
    </div>
  {% endblock %}

   {% block section2 %}
      <div class="container">
        {% for file in file_list %}
        <p><a href="{% url 'analytics:file_home' file %}">{{ file }}</a></p>
        {% endfor %}
      </div>
    {% endblock %}

</html>
