{% extends 'base.html' %}

{% block content %}
<h2>Sign up</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div style="line-height: 2">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small style="color: grey">{% autoescape off %}{{ field.help_text }}{% endautoescape %}</small>
        {% endif %}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
    {% endfor %}
    <div style="margin: 10px; margin-left: 0px">
        <button type="submit">Sign up</button>
        <a href="{% url 'login' %}">Already have an account?</a>
    </div>
</form>
{% endblock %}
